

<Nav ContentAlignment="NavContentAlignment.Right">
    <NavItemLink Url="https://www.facebook.com/mikaberglund" OpenInNewTab="true"><img src="./img/facebook.svg" height="16" /></NavItemLink>
    <NavItemLink Url="https://github.com/MikaBerglund" OpenInNewTab="true"><img src="./img/github.svg" height="16" /></NavItemLink>
    <NavItemLink Url="https://www.linkedin.com/in/mikaberglund/" OpenInNewTab="true"><img src="./img/linkedin.svg" height="16" /></NavItemLink>
    <NavItemLink Url="https://twitter.com/MikaBerglund" OpenInNewTab="true"><img src="./img/twitter.svg" height="16" /></NavItemLink>
    <NavItemLink Url="https://www.youtube.com/channel/UCfOF1aIOdZskejallCfaqeg" OpenInNewTab="true"><img src="./img/youtube.svg" height="16" /></NavItemLink>
    <NavItemLink Url="https://mikaberglund.com" OpenInNewTab="true"><img src="./img/blog.svg" height="16" /></NavItemLink>
</Nav>
<Navbar
        BrandText="Mika Berglund" 
        BrandUrl="/Blazor-Bootstrap-Demo/" 
        ColorScheme="NavbarColor.Dark" 
        BackgroundColor="NamedColor.Primary" 
        ExpandAt="NavbarExpandBreakpoint.MD">

    <NavbarNav MarginLeft="Spacing.Auto">
        <NavItem Url="about" Text="About Me" />
        <NavItem Url="expertise" Text="Expertise" />
        <NavItem Url="work" Text="Work History" />
        <NavItem Url="hobbies" Text="Hobbies" />
        <NavItem Url="contact" Text="Contact Me" />
    </NavbarNav>
</Navbar>