
<h3>Carousel</h3>
<Carousel BackgroundColor="NamedColor.Dark" ShowControls="@(this.Items.Count > 0)" ShowIndicators="@(this.Items.Count > 0)" AutoStart="true" Interval="3500">
    @if(this.Items.Count > 0)
    {
        @foreach(var item in this.Items)
        {
            <CarouselItem CaptionHeading="@item.Title" CaptionBody="@item.Description">

            </CarouselItem>
        }
    }
    else
    {
        <CarouselItem CaptionHeading="Loading...">
            <CaptionBodyTemplate>
                <Spinner Type="SpinnerType.Border"></Spinner>
            </CaptionBodyTemplate>
        </CarouselItem>
    }
</Carousel>